body {
    padding-top: 50px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.block-header {
    margin-bottom: 10px;
    text-align: left;
    font-size: large;
}


#preview iframe, #live iframe, #console {
    border: 0 none;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

.stretch {
    height: 100%;
    width: 100%;
}